/* .content-hover h1{
    cursor: none;
} */

.shapes-hover {
    position: relative;
    /* width: 100vw; */
    height: 100vh;
    /* width: calc(100vw -px); */
    /* background: #2128bd; */
    overflow: hidden;
}
/* 
.shapeh {
    will-change: transform;
    position: absolute;
    border-radius: 50%;
}

.shapeh.shape-1hover {
    background: #005ffe;
    width: 50px;
    height: 50px;
    margin: -25px 0 0 -25px;
    z-index: 0;
}

.shapeh.shape-2hover {
    background: #ffe5e3;
    width: 30px;
    height: 30px;
    margin: -15px 0 0 -15px;
    z-index: 0;
}

.shapeh.shape-3hover {
    background: #ffcc57;
    width: 20px;
    height: 20px;
    margin: -10px 0 0 -10px;
    z-index: 0;
}
.shapeh.shape-4hover {
    background: #bd217c;
    width: 5px;
    height: 5px;
    margin: -5px 0 0 -5px;
    z-index: 0;
} */

.content-hover {
    width: calc(100vw - 10px);
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* width:calc(100vw); */
    /* background: #fff; */
    /* mix-blend-mode: screen; */
}

/* 
.cursor-home {
    position: fixed;
    background: #bd217c;
    width: 6px;
    height: 6px;
    margin: -10px 0 0 -10px;
    border-radius: 50%;
    will-change: transform;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    z-index: -1;
} */

