.certificate-part {
    display: flex;
    justify-content: center;
    align-items: center;
}

.certificate-carousel {
    width: 60vw;
    height: 100vh;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
}

.certificate-carousel:hover .controls {
    opacity: 1;
}

.certificate-carousel .controls {
    opacity: 0;
    display: flex;
    position: absolute;
    top: 48%;
    left: 0;
    justify-content: space-between;
    width: 100%;
    z-index: 5;
    transition: all ease 0.5s;
}

.certificate-carousel .controls .control {
    margin: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: silver;
    opacity: 0.8;
    transition: ease 0.3s;
    cursor: pointer;
}

.certificate-carousel .controls .control:hover {
    opacity: 1;
}

.certificate-carousel .certificate-slides {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    width: 100%;
    transition: 1s ease-in-out all;
}

.certificate-carousel .certificate-slides .slide {
    min-width: 100%;
    min-height: 250px;
    height: auto;
}

@media (max-width:992px) {
    .certificate-carousel {
        height: 35vh;
        width: 100vw;
    }

    .certificate-carousel .controls {
        top: 43%;
    }

    .new {
        font-size: 30px;
        padding-bottom: 1rem;
    }
}