.clearfix:before,
.clearfix:after {
    display: table;
    content: '';
}

.clearfix:after {
    clear: both;
}

.section1 {
    text-align: center;
    display: table;
    width: 100%;
}

.section1 .shtext {
    display: block;
    margin-top: 20px;
}

.section1 .seperator {
    border-bottom: 1px solid #a2a2a2;
    width: 35px;
    display: inline-block;
    margin: 20px;
}

.section1 h1 {
    font-size: 40px;
    color: #A44DD8;
    font-weight: normal;
}

.section2 {
    width: 1200px;
    margin: 25px auto;
}

.section2 .col2 {
    width: 48.71%;
}

.section2 .col2.first {
    float: left;
}

.section2 .col2.last {
    float: right;
}


.section2 span.collig {
    color: #a2a2a2;
    margin-right: 10px;
    display: inline-block;
}

.section2 .sec2addr {
    display: block;
    line-height: 26px;
}

.section2 .sec2addr p:first-child {
    margin-bottom: 10px;
}

.section2 .sec2contactform input[type="text"],
.section2 .sec2contactform input[type="email"],
.section2 .sec2contactform textarea {
    border: 0;
    background: #EDEDED;
}


.section2 .sec2contactform input[type="submit"] {
    padding: 15px 40px;
    color: #fff;
    border: 0;
    background: #A44DD8;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
}

.section2 .sec2contactform h3 {
    font-weight: normal;
    margin: 20px 0;
    margin-top: 30px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 19px;
    color: #A44DD8;
}

/* @media querries */

@media only screen and (max-width: 1266px) {
    .section2 {
        width: 100%;
    }
}

@media only screen and (max-width: 960px) {

    .section2 .col2 {
        width: 100%;
        margin-left: 0%;
    }

    .section2 .col2.first {
        margin-bottom: 10px;
    }

    body .sec2map {
        height: 250px !important;
    }
}

@media only screen and (max-width: 768px) {
    .section2 .sec2addr {
        font-size: 14px;
    }

    .section2 .sec2contactform h3 {
        font-size: 16px;
    }

    .section2 .sec2contactform input[type="submit"] {
        padding: 10px 30px;
        font-size: 14px;
    }
}

@media only screen and (max-width: 420px) {
    .section1 h1 {
        font-size: 28px;
    }
}


/* Newly updated contact form */


.wrapper-form {
    font-family: Helvetica,
        Arial,
        sans-serif;
}

.wrapper-form form.disabled {
    pointer-events: none;
    opacity: 0.7;
}

form .dbl-field {
    display: flex;
    margin-bottom: 25px;
    justify-content: space-between;
}

.dbl-field .field {
    height: 50px;
    display: flex;
    position: relative;
    width: calc(100% / 2 - 13px);
}

.wrapper-form form i {
    position: absolute;
    top: 50%;
    left: 18px;
    color: #ccc;
    font-size: 17px;
    pointer-events: none;
    transform: translateY(-50%);
}

form .field input,
form .message textarea {
    font-family: Helvetica, Arial, sans-serif;
    width: 100%;
    height: 100%;
    outline: none;
    padding: 0 18px 0 48px;
    font-size: 16px;
    border: 1px solid #ccc;
    margin-top: 0;
}

.wrapper-form .field input:focus {
    border-bottom: 3px solid #9575CC;
    transition-duration: 0.3s;
}

.wrapper-form .email input:focus,
.message textarea:focus {
    border-bottom: 3px solid #fa0404;
    transition-duration: 0.3s;
}

.field input:focus~i,
.message textarea:focus~i {
    color: #9575CC;
}

form .message {
    position: relative;
}

form .message i {
    top: 30px;
    font-size: 20px;
}

.wrapper-form form .message textarea {
    min-height: 130px;
    resize: vertical;
    height: 260px;
    max-height: 260px;
    max-width: 100%;
    min-width: 100%;
    padding: 20px 20px 0 48px;
    display: block;
}

form .message textarea::-webkit-scrollbar {
    width: 0px;
}

@media (max-width: 600px) {

    .wrapper-form form {
        margin: 35px 20px;
    }

    form .dbl-field {
        flex-direction: column;
        margin-bottom: 0px;
    }

    form .dbl-field .field {
        width: 100%;
        height: 45px;
        margin-bottom: 20px;
    }
}

.field input:focus~i.fa-envelope,
.message textarea:focus~i.material-icons {
    color: red;
}

.custom-btn {
    margin-top: 44px;
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 0px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
    font-size: 15px;
}

/* 9 */
.btn-9 {
    border: none;
    transition: all 0.3s ease;
    overflow: hidden;
}

.btn-9:after {
    position: absolute;
    content: " ";
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #8468b5;
    background-image: linear-gradient(300deg, #ffffff 0%, #8468b5 50%);
    transition: all 0.3s ease;
}

.btn-9:hover {
    background: transparent;
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .5),
        -4px -4px 6px 0 rgba(116, 125, 136, .2),
        inset -4px -4px 6px 0 rgba(255, 255, 255, .5),
        inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
    color: #fff;
}

.btn-9:hover:after {
    -webkit-transform: scale(2) rotate(180deg);
    transform: scale(2) rotate(180deg);
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .5),
        -4px -4px 6px 0 rgba(116, 125, 136, .2),
        inset -4px -4px 6px 0 rgba(255, 255, 255, .5),
        inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
}

.wrapper-form form i.fa-paper-plane {
    position: relative;
    color: #42345a;
}