/* *,
html {
    scroll-behavior: smooth;
}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
} */

:root {
    scrollbar-color: rgb(210, 210, 210) rgb(46, 54, 69) !important;
    scrollbar-width: thin !important;
}

/* ::-webkit-scrollbar {
    height: 12px;
    width: 8px;
    background: #000;
} */

::-webkit-scrollbar-thumb {
    background: gray;
}

::-webkit-scrollbar-corner {
    background: #000;
}





/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

.inline-photo {
    opacity: 0;
    transform: translateY(4em) rotateZ(-0deg);
    transition: transform 2s .25s cubic-bezier(0, 1, .3, 1), opacity .2s .25s ease-out;
    will-change: transform, opacity;
}

.inline-photo.is-visible {
    opacity: 1;
    transform: rotateZ(-0deg);
}

.inline-photo.is-visible:hover {
    opacity: 0.5;
    transform: rotateZ(360deg);
    transition-delay: 0s;
}

.inline-photo img:hover {
    border-radius: 200px;
}




body h4{
    font-family: 'Exo 2', sans-serif;
    transition: background-color .5s;
    margin: 0;
    overflow-x: hidden;
    font-weight: normal;
    font-size: 18px;
}

.title_header {
    width: 80%;
    margin: auto;
    position: absolute;
    bottom: 20vh;
    left: 20%;
}

.title_header span {
    padding: 20px 30px;
    color: #000;
    text-align: center;
    font-weight: 900;
    border: 2px solid #000;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1em;
    margin: 20px auto;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #D4AF37;
}

.sidenav section {
    position: absolute;
    bottom: 2vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidenav section a {
    display: inline-block;
    padding: 8px 8px 8px 12px;
    margin: 0px 10px;
    background-color: #1e1e1e;
    -webkit-transform: rotate(45deg) translate(0px, 0px);
    -ms-transform: rotate(45deg) translate(0px, 0px);
    transform: rotate(45deg) translate(0px, 0px);
    list-style: none;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    width: 35px;
    height: 35px;
    vertical-align: middle;
    text-align: center;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #fff;
}

.sidenav section a i {
    -webkit-transform: rotate(-45deg) translate(0px, 0px);
    -ms-transform: rotate(-45deg) translate(0px, 0px);
    transform: rotate(-45deg) translate(0px, 0px);
}


.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 0px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}










/*LIGHT HOUSE*/


.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 25%;
    height: 50vh;
}

.column img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: black;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #000;
    margin: auto;
    padding: 0;
    width: 90%;
    height: 90%;
}

/* The Close Button */
.close-modal {
    color: #fff;
    position: absolute;
    top: 25px;
    right: 15px;
    font-size: 35px;
    font-weight: bold;
    background-color: #fdfbfb57;
    padding: 5px 15px;
    border-radius: 100%;
}

@media (max-width:991px) {
    .close-modal {
        right: 45%;
    }

}

.close-modal:hover,
.close-modal:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    transform: rotate(180deg);
    transition-duration: 0.3s;
}

.mySlides {
    display: none;
    height: auto;
    width: 100%;
    background-color: #000;
    overflow: hidden;
}

/* .mySlides img {
    background-color: #000;
    width: auto;
    margin: auto;
    display: flex;
    height: 70vh;
} */

.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    user-select: none;
    -webkit-user-select: none;
}
.next{
        border-radius: 0 5px 5px 0;
}
.prev{
        border-radius: 5px 0px 0px 5px;
}

.prev:hover,
.next:hover {
    background-color: rgba(27, 27, 27);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

img {
    margin-bottom: -4px;
}

.caption-container {
    position: absolute;
    text-align: center;
    background-color: #A784E4;
    padding: 2px 10px;
    color: #1D1D1D;
    font-size: large;
    width: 100%;
    bottom: -13%;
    margin-top: 10px;
    margin-bottom: 10px;
    transition-duration: 0.3s;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    font-family:sans-serif;
}

#caption {
    padding-top: 10px;
    padding-bottom: 10px;
}

.caption-container:hover {
    background-color: #1D1D1D;
    transition-duration: 0.3s;
    color: #A784E4;
}

.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

img.hover-shadow {
    transition: 0.3s;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*ICONS*/
.icons {
    padding: 10px 5px;
    background-color: rgba(1, 1, 1, 0.5);
    text-align: center;
    position: fixed;
    right: 0;
    top: 10vh;
    cursor: pointer;
}


.icons i {
    color: #fff;
    padding: 0 10px;
}


@media (max-width:800px) {
    .column {
        float: left;
        width: 50%;
        height: 50vh;
    }

    .sidenav .closebtn {
        display: none;
    }
}



.footer {
    position: fixed;
    bottom: 5vh;
    right: 0;
    padding: 5px;
    background: #000;
    color: gray;
}